@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

::after,
::before {
  box-sizing: border-box;
}

body {
  font-size: 16px;
  line-height: 1.5;
  -webkit-tap-highlight-color: transparent;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  color: var(--white-light);
}

.container {
  max-width: 1170px;
  margin: auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
}
.jcc {
  justify-content: center;
}
.jcs {
  justify-content: space-between;
}

.alc {
  align-items: center;
}

img {
  vertical-align: middle;
  max-width: 100%;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

h1 {
  font-weight: 700;
  color: var(--white);
}

h2 {
  font-weight: 600;
  color: var(--white);
}

h3,
h4,
h5,
h6 {
  font-weight: 500;
  color: var(--white);
}

p {
  font-size: 16px;
}

.min-vh-100 {
  min-height: 100vh;
}

.btn {
  display: inline-block;
  padding: 10px 30px;
  border-radius: 30px;
  text-transform: capitalize;
  font-weight: 500;
  transition: var(--transition-all);
  font-size: 16px;
  cursor: pointer;
  font-family: inherit;
  color: var(--main-color);
  line-height: 1.5;
  user-select: none;
  border: none;
  background-color: transparent;
}

.btn-default {
  border: 2px solid var(--main-color);
}

.btn-default:hover {
  color: var(--white);
  background-color: var(--main-color);
}

.sec-padding {
  padding: 80px 0;
}

section {
  overflow: hidden;
}

.section-title {
  width: 100%;
  padding: 0 15px;
  text-align: center;
  margin-bottom: 60px;
}

.section-title h2 {
  font-size: 35px;
  text-transform: capitalize;
}

.section-title h2::before {
  content: attr(data-title);
  display: block;
  font-size: 24px;
  color: var(--main-color);
  font-family: var(--cursive-font);
  font-weight: 400;
  text-transform: capitalize;
}

/* Размеры скроллбара */
::-webkit-scrollbar {
  width: 5px;
}

/* Трек поле скроллбара */
::-webkit-scrollbar-track {
  -webkit-box-shadow: var(--shadow);
  background: #000;
}

/* Ползунок скроллбара */
::-webkit-scrollbar-thumb {
  -webkit-box-shadow: var(--shadow);
  background: var(--main-color);
}

:root {
  --main-color: #eaa023;
  --dark: #0c1023;
  --dark-light: #191f3a;
  --white: #ffffff;
  --white-light: #c8c8c8;
  --shadow: 0 0 15px rgba(0, 0, 0, 0.25);
  --cursive-font: "Dancing Script", cursive;
  --transition-all: all 0.5s ease-in-out;
  scroll-behavior: smooth;
}

@keyframes zoomInOut {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
}

@keyframes spinOn {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes pageLoader {
  0%,
  100% {
    transform: translateX(-50px);
  }
  50% {
    transform: translateX(50px);
  }
}

.page-loder {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: var(--dark);
  z-index: 999;
  transition: all 0.6s ease;
}

.page-loder .fade-out {
  opacity: 0;
}

.page-loder::before {
  content: "";
  position: absolute;
  height: 4px;
  width: 100px;
  background-color: var(--main-color);
  left: calc(50% - 50px);
  top: calc(50% - 2px);
  animation: pageLoader 1s linear infinite;
}

.header {
  padding: 12px 0;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 99;
  width: 100%;
}

.header.sticky::before {
  transform: translateY(0);
}

.header .nav-toggler {
  height: 34px;
  width: 44px;
  margin-right: 15px;
  cursor: pointer;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  z-index: 10;
  transition: var(--transition-all);
}

.header .nav-toggler.active {
  position: absolute;
  right: 0;
  z-index: 1;
  transition: var(--transition-all);
  transform: translateX(-125px);
}

.header .nav-toggler.active span {
  background-color: transparent;
  transition: var(--transition-all);
}

.header .nav-toggler.active span::before {
  transform: rotate(45deg);
  transition: var(--transition-all);
}

.header .nav-toggler.active span::after {
  transform: rotate(-45deg);
  transition: var(--transition-all);
}

.header .nav-toggler span {
  height: 2px;
  width: 30px;
  display: block;
  background-color: var(--white);
  position: relative;
}

.header .nav-toggler span::before,
.header .nav-toggler span::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: var(--white);
  transition: 0.1s ease;
}

.header .nav-toggler span::before {
  transform: translateY(-8px);
}

.header .nav-toggler span::after {
  transform: translateY(8px);
}

.header .logo {
  display: flex;
  align-items: center;
  padding: 0 15px;
  max-width: 244px;
}
.header .logo a img {
  border-radius: 20px;
}
.header .logo .text-logo {
  padding-left: 10px;
  color: #eaa023;
  font-size: 25px;
}
.header .nav {
  position: fixed;
  right: 0;
  top: 0;
  height: 100%;
  width: 200px;
  background-color: var(--dark-light);
  box-shadow: var(--shadow);
  overflow-y: auto;
  padding: 80px 0 40px;
  transition: var(--transition-all);
  transform: translateX(100%);
}

.header .nav ul li a {
  display: block;
  font-size: 25px;
  color: var(--white);
  padding: 10px 30px;
  transition: var(--transition-all);
}

.header .nav ul li a:hover {
  color: var(--main-color);
}

.header .nav.open {
  transform: translateX(0);
}

.header::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: var(--dark-light);
  box-shadow: var(--shadow);
  z-index: -1;
  transition: var(--transition-all);
  transform: translateY(-100%);
}

.home-section {
  position: relative;
  overflow: hidden;
}

.home-section .min-vh-100 {
  padding: 100px 0;
}

.home-section .home-text {
  padding: 0 15px;
  max-width: 700px;
  width: 100%;
  margin: auto;
  text-align: center;
}

.home-section .home-text h1 {
  font-family: var(--cursive-font);
  font-size: 60px;
  line-height: 75px;
  margin: 0 0 5px;
}

.home-section .home-text p {
  margin: 0 0 30px;
}

.home-section .home-bg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -2;
  background-image: url("../img/home-bg.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  animation: zoomInOut 20s ease-in-out infinite;
}

.home-section::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.7;
  z-index: -1;
}

.about-section {
  background-color: var(--dark-light);
}

.about-section .about-text,
.about-section .about-img {
  width: 50%;
  padding: 0 15px;
}

.about-section .about-text h3 {
  font-size: 30px;
  text-transform: capitalize;
  margin: 0 0 15px;
}

.about-section .about-text p {
  margin: 0 0 15px;
}

.about-section .about-text .btn {
  margin: 15px 0 0;
}

.about-section .about-img .img-box {
  position: relative;
}

.about-section .about-img .img-box h3 {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 100%;
  max-width: 250px;
  text-align: center;
  font-size: 30px;
  font-family: var(--cursive-font);
  transform: translate(-50%, -50%);
  color: var(--dark);
  font-weight: bold;
  text-transform: capitalize;
}

.about-section .about-img .img-box::before {
  content: "";
  position: absolute;
  height: 100px;
  width: 100px;
  border: 3px solid var(--main-color);
  left: calc(50% - 50px);
  top: calc(50% - 50px);
  animation: spinOn 10s linear infinite;
}

.about-section .about-img img {
  width: 100%;
  border-radius: 10px;
}

.menu-section {
  background-color: var(--dark);
  padding-bottom: 60px;
}

.menu-section .section-title {
  margin-bottom: 40px;
}

.menu-section .menu-tabs {
  padding: 0 15px;
  width: 100%;
  width: 100%;
  text-align: center;
  margin-bottom: 30px;
}

.menu-section .menu-tabs .menu-tab-item {
  font-size: 18px;
  font-family: inherit;
  text-transform: capitalize;
  border: none;
  background-color: transparent;
  font-weight: 500;
  color: var(--white);
  cursor: pointer;
  margin: 10px 10px;
  display: inline-block;
  transition: var(--transition-all);
}

.menu-section .menu-tabs .menu-tab-item.active {
  color: var(--main-color);
}

.menu-section .menu-item {
  width: 50%;
  padding: 20px 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  cursor: pointer;
}

.menu-section .menu-item-title {
  display: flex;
  align-items: center;
  max-width: calc(100% - 80px);
}

.menu-section .menu-item-title img {
  width: 80px;
  height: 80px;
  margin-right: 15px;
  border-radius: 5px;
}

.menu-section .menu-item-title h3 {
  font-size: 16px;
  transition: var(--transition-all);
}

.menu-section .menu-item-price {
  font-size: 16px;
  font-weight: 500;
  color: var(--main-color);
  transition: var(--transition-all);
}

.menu-section .menu-item::after {
  content: "";
  position: absolute;
  left: 15px;
  right: 15px;
  bottom: 0;
  border-bottom: 2px dashed var(--dark-light);
}

.menu-section .menu-item:nth-last-of-type(2)::after,
.menu-section .menu-item:nth-last-of-type(1)::after {
  border: none;
}

.menu-section .menu-item:hover .menu-item-title h3 {
  color: var(--main-color);
}

.menu-section .menu-item:hover .menu-item-price {
  color: var(--white);
}

.menu-section .menu-tab-content {
  display: none;
}

.menu-section .menu-tab-content.active {
  display: flex;
}

.testimonial-section {
  background-color: var(--dark);
  padding-bottom: 50px;
}

.testimonial-section .testi-item {
  width: calc((100% / 3) - 30px);
  margin: 0 15px 30px;
  border: 2px solid var(--dark-light);
  padding: 30px;
  border-radius: 8px;
  box-shadow: var(--shadow);
}

.testimonial-section .testi-item p {
  margin: 15px 0;
}

.testimonial-section .testi-item:hover .testi-author img {
  border-color: var(--main-color);
  width: 100px;
}

.testimonial-section .testi-author {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.testimonial-section .testi-author span {
  display: block;
  font-size: 14px;
  text-transform: capitalize;
}

.testimonial-section .testi-author img {
  max-width: 60px;
  border-radius: 50%;
  border: 3px solid var(--dark-light);
  box-shadow: var(--shadow);
  transition: var(--transition-all);
}

.testimonial-section .ratings i {
  font-size: 16px;
  color: var(--main-color);
}

.team-section {
  background-color: var(--dark);
  padding-bottom: 125px;
}

.team-section .team-item {
  width: calc(100% / 3);
  padding: 0 15px;
  position: relative;
}

.team-section .team-item img {
  width: 100%;
  height: 528px;
  border-radius: 8px;
  transition: var(--transition-all);
}

.team-section .team-item-info {
  background-color: var(--dark-light);
  border-radius: 8px;
  padding: 15px;
  text-align: center;
  position: absolute;
  left: 30px;
  right: 30px;
  bottom: 0;
  transform: translateY(50%);
  transition: var(--transition-all);
  pointer-events: none;
}

.team-section .team-item-info h3 {
  font-size: 18px;
  text-transform: capitalize;
  margin: 0 0 10px;
}

.team-section .team-item-info p {
  text-transform: capitalize;
}

.team-section .team-item:hover img {
  transform: skewY(3deg);
}

.team-section .team-item:hover .team-item-info {
  transform: translateY(-15px);
  background-color: var(--main-color);
  transition: var(--transition-all);
}

.team-section .team-item:hover .team-item-info p {
  color: var(--white);
}

.footer {
  padding: 80px 0;
  background-image: url("../img/footer-bg.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  position: relative;
  z-index: 1;
}

.footer-item {
  width: calc(100% / 3);
  padding: 0 15px;
  text-align: center;
}

.footer-item h3 {
  font-size: 22px;
  margin: 0 0 15px;
}

.footer-item p {
  line-height: 30px;
}

.footer-item .social-links {
  margin-top: 15px;
}

.footer-item .social-links a {
  display: inline-flex;
  height: 40px;
  width: 40px;
  color: var(--white-light);
  font-size: 22px;
  align-items: center;
  justify-content: center;
  transition: var(--transition-all);
}

.footer-item .social-links a:hover {
  transition: var(--transition-all);
  color: var(--main-color);
}

.footer .copyright {
  width: 100%;
  text-align: center;
  padding: 25px 15px;
  font-size: 14px;
  margin: 80px 0 0;
  border-top: 1px solid var(--white-light);
}

.footer::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: -1;
}

@media (max-width: 991px) {
  .testimonial-section .testi-item {
    width: calc(50% - 30px);
  }
  .team-section .team-item {
    width: 50%;
  }
  .team-section .team-item:not(:last-child) {
    margin-bottom: 75px;
  }
}

@media (max-width: 767px) {
  .home-section .home-text h1 {
    font-size: 50px;
    line-height: 65px;
  }
  .menu-section .menu-item,
  .about-section .about-text,
  .about-section .about-img {
    width: 100%;
  }
  .about-section .about-text h3 {
    font-size: 24px;
  }
  .menu-section .menu-item:nth-last-of-type(2)::after {
    border-bottom: 2px dashed var(--dark-light);
  }
  .about-section .about-img {
    margin-top: 40px;
  }
  .testimonial-section .testi-item {
    width: calc(100% - 30px);
  }
}

@media (max-width: 575px) {
  .team-section .team-item {
    width: 100%;
  }
  .footer-item {
    width: 100%;
  }
  .footer-item:not(:last-child) {
    margin-bottom: 35px;
  }
}
.modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1055;
  display: none;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  outline: 0;
}

.modal-dialog {
  position: relative;
  width: auto;
  margin: 0.5rem;
  pointer-events: none;
}
.modal.fade .modal-dialog {
  transition: transform 0.3s ease-out;
  transform: translate(0, -50px);
}
@media (prefers-reduced-motion: reduce) {
  .modal.fade .modal-dialog {
    transition: none;
  }
}
.modal.show .modal-dialog {
  transform: none;
}
.modal.modal-static .modal-dialog {
  transform: scale(1.02);
}

.modal-dialog-scrollable {
  height: calc(100% - 1rem);
}
.modal-dialog-scrollable .modal-content {
  max-height: 100%;
  overflow: hidden;
}
.modal-dialog-scrollable .modal-body {
  overflow-y: auto;
}

.modal-dialog-centered {
  display: flex;
  align-items: center;
  min-height: calc(100% - 1rem);
}

.modal-content {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  pointer-events: auto;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 0.3rem;
  outline: 0;
}

.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1050;
  width: 100vw;
  height: 100vh;
  background-color: #000;
}
.modal-backdrop.fade {
  opacity: 0;
}
.modal-backdrop.show {
  opacity: 0.5;
}

.modal-header {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 1rem;
  border-bottom: 1px solid #dee2e6;
  border-top-left-radius: calc(0.3rem - 1px);
  border-top-right-radius: calc(0.3rem - 1px);
}
.modal-header .btn-close {
  padding: 0.5rem 0.5rem;
  margin: -0.5rem -0.5rem -0.5rem auto;
}

.modal-title {
  margin-bottom: 0;
  line-height: 1.5;
}

.modal-body {
  position: relative;
  flex: 1 1 auto;
  padding: 1rem;
}

.modal-footer {
  display: flex;
  flex-wrap: wrap;
  flex-shrink: 0;
  align-items: center;
  justify-content: flex-end;
  padding: 0.75rem;
  border-top: 1px solid #dee2e6;
  border-bottom-right-radius: calc(0.3rem - 1px);
  border-bottom-left-radius: calc(0.3rem - 1px);
}
.modal-footer > * {
  margin: 0.25rem;
}

@media (min-width: 576px) {
  .modal-dialog {
    max-width: 500px;
    margin: 1.75rem auto;
  }

  .modal-dialog-scrollable {
    height: calc(100% - 3.5rem);
  }

  .modal-dialog-centered {
    min-height: calc(100% - 3.5rem);
  }

  .modal-sm {
    max-width: 300px;
  }
}
@media (min-width: 992px) {
  .modal-lg,
  .modal-xl {
    max-width: 800px;
  }
}
@media (min-width: 1200px) {
  .modal-xl {
    max-width: 1140px;
  }
}
.modal-fullscreen {
  width: 100vw;
  max-width: none;
  height: 100%;
  margin: 0;
}
.modal-fullscreen .modal-content {
  height: 100%;
  border: 0;
  border-radius: 0;
}
.modal-fullscreen .modal-header {
  border-radius: 0;
}
.modal-fullscreen .modal-body {
  overflow-y: auto;
}
.modal-fullscreen .modal-footer {
  border-radius: 0;
}

@media (max-width: 575.98px) {
  .modal-fullscreen-sm-down {
    width: 100vw;
    max-width: none;
    height: 100%;
    margin: 0;
  }
  .modal-fullscreen-sm-down .modal-content {
    height: 100%;
    border: 0;
    border-radius: 0;
  }
  .modal-fullscreen-sm-down .modal-header {
    border-radius: 0;
  }
  .modal-fullscreen-sm-down .modal-body {
    overflow-y: auto;
  }
  .modal-fullscreen-sm-down .modal-footer {
    border-radius: 0;
  }
}
@media (max-width: 767.98px) {
  .modal-fullscreen-md-down {
    width: 100vw;
    max-width: none;
    height: 100%;
    margin: 0;
  }
  .modal-fullscreen-md-down .modal-content {
    height: 100%;
    border: 0;
    border-radius: 0;
  }
  .modal-fullscreen-md-down .modal-header {
    border-radius: 0;
  }
  .modal-fullscreen-md-down .modal-body {
    overflow-y: auto;
  }
  .modal-fullscreen-md-down .modal-footer {
    border-radius: 0;
  }
}
@media (max-width: 991.98px) {
  .modal-fullscreen-lg-down {
    width: 100vw;
    max-width: none;
    height: 100%;
    margin: 0;
  }
  .modal-fullscreen-lg-down .modal-content {
    height: 100%;
    border: 0;
    border-radius: 0;
  }
  .modal-fullscreen-lg-down .modal-header {
    border-radius: 0;
  }
  .modal-fullscreen-lg-down .modal-body {
    overflow-y: auto;
  }
  .modal-fullscreen-lg-down .modal-footer {
    border-radius: 0;
  }
}
@media (max-width: 1199.98px) {
  .modal-fullscreen-xl-down {
    width: 100vw;
    max-width: none;
    height: 100%;
    margin: 0;
  }
  .modal-fullscreen-xl-down .modal-content {
    height: 100%;
    border: 0;
    border-radius: 0;
  }
  .modal-fullscreen-xl-down .modal-header {
    border-radius: 0;
  }
  .modal-fullscreen-xl-down .modal-body {
    overflow-y: auto;
  }
  .modal-fullscreen-xl-down .modal-footer {
    border-radius: 0;
  }
}
@media (max-width: 1399.98px) {
  .modal-fullscreen-xxl-down {
    width: 100vw;
    max-width: none;
    height: 100%;
    margin: 0;
  }
  .modal-fullscreen-xxl-down .modal-content {
    height: 100%;
    border: 0;
    border-radius: 0;
  }
  .modal-fullscreen-xxl-down .modal-header {
    border-radius: 0;
  }
  .modal-fullscreen-xxl-down .modal-body {
    overflow-y: auto;
  }
  .modal-fullscreen-xxl-down .modal-footer {
    border-radius: 0;
  }
}
.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1!important;
  width: 100vw;
  height: 100vh;
  background-color: rgb(0 0 0);
}
.modal-text{
  color: black;
}
.modal-content{
  background-color: #E1DBD6;
  box-shadow: -5px 5px 5px black;
}
.modal-image{
  width: 290px;
  height: 218px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 10px;
  border-radius: 50% 20% / 10% 40%;
}